* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header > img.logo {
    width: 75px;
    height: 53px;
}

header > ion-icon {
    font-size: 42px;
}

.container-messages {
    background-color: #E5E5E5;
    height: calc(100vh - 160px);
    margin: 80px 0;
    overflow-y: scroll;
}

.container-messages li {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-bottom: 4px;
    padding: 0px 8px;
}

.container-messages li > span {
    margin: 10px 0;
    word-wrap: break-word;
    inline-size: 100%; 
    line-height: 20px;


}
.container-messages li span.time {
    color: #AAAAAA;
}

.container-messages li.status {
    background-color: #DCDCDC;
}

.container-messages li.message {
    background-color: #FFFFFF;
}

.container-messages li.private {
    background-color: #FFDEDE;
}

.container-send-message {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0px 17px;
}


.container-send-message > input {
    width: 90%;
    height: 70%;
    border: none;
    font-size: 18px;
    color: black;
    padding-left: 10px;
}

.container-send-message > ion-icon {
    width: 10%;
    font-size: 42px;
}

en {
    font-weight: bold;
}

input:focus {
    outline: none;
}

section.window-login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.window-login img.logo {
    position: absolute;
    top: 72px;
    width: 130px;
    height: 92px;
        
}

section.window-login div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.window-login div.center div {
    display: flex;
    flex-direction: column;
    width: auto;
}

section.window-login div.center span.error{
    font-size: 16px;
    margin-bottom: 10px;
    color: red;
}

section.window-login div.center input{
    width: 260px;
    height: 54px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #D7D7D7;
}

section.window-login div.center button {
    width: 109px;
    height: 45px;
    margin-top: 15px;
    border: none;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    
}

section.window-login div.center div.container-loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.window-login div.center img.loading{
    width: 64px;
    margin: 20px 0;
}

.hidden {
    display: none;
}

section.window-login.swipe-left {
    transition: 1s !important;
    left: -100vw !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.overlay.active {
    display: flex;
}

aside.menu-right {
    position: fixed;
    width: 259px;
    background-color: #FFFFFF;
    height: 100vh;
    z-index: 3;
    right: -100vw;
    top: 0;
    transition: right 0.5s;
}

aside.menu-right li {
    padding-left: 27px;
    padding-right: 27px;
}

aside.menu-right.active {
    right: 0 !important;
}

aside.menu-right ion-icon.list-icon {
    font-size: 24px;
    margin-right: 8px; 
}

ion-icon.checkmark {
    color: #28BB25;
    --ionicon-stroke-width: 100px;
    font-size: 12px;
    display: none;
}

aside.menu-right > span {
    display: flex;
    text-align: center;
    margin: 27px 0;
    justify-content: center;
}

aside.menu-right > ul {
    margin-top: 4px;
}

aside.menu-right > ul li {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

aside.menu-right > ul li.disabled {
    color:gray;
    pointer-events: none;
}

aside.menu-right > ul li div:first-child {
    height: 36px;
    display: flex;
    align-items: center;
}

aside.menu-right > ul li.selected .checkmark{
    display: flex;
}


strong {
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #000000;
}

section.window-login div.center input::placeholder {
    color: #AEAEAE;
    opacity: 1; 
}

section.window-login div.center input::-ms-input-placeholde {
    color: #AEAEAE;
}

section.window-login div.center input::-ms-input-placeholder {
    color: #AEAEAE;
}